
<mat-toolbar class = "toolbar" color="primary">
  <mat-toolbar-row>
  <span>Parking Info</span>
  <button routerLink="/parkings" id="id1" mat-raised-button color="accent">Back</button>
  <button id="id2" mat-raised-button color="accent">Change</button>

</mat-toolbar-row>
</mat-toolbar>

    <mat-list class = "leftSide">
      <mat-list-item>Name</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Address</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Places</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tariff</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Floors</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Coefficient</mat-list-item>
    </mat-list>

    <mat-list class="rightSide" *ngIf="parkingDetail">
      <mat-list-item>{{parkingDetail.parkingName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{parkingDetail.address}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{parkingDetail.slotsNumber}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{parkingDetail.tariff}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>1</mat-list-item>
</mat-list>
  
