
<mat-toolbar color="primary">
        <mat-toolbar-row>
        <span>{{'CustomToolbar' | translate}}</span>
        </mat-toolbar-row>
</mat-toolbar>

<div>
<mat-list *ngIf="parkingDetail">
        <mat-list-item>{{parkingDetail.parkingName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{parkingDetail.parkingAddress}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{parkingDetail.slotsNumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{parkingDetail.tariff}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>1</mat-list-item>
</mat-list>
</div>

