#id1{
    margin-left: 1%;
}
#id2{
    margin-left: 80%;
}

.changeButton{
    margin-right: 10px;
}

.saveButton{
    margin-right: 2px;
    margin-left: auto;
}

.submitButtonCenter{
    text-align: center;
}

.submitButton{
    margin-top: 4px;
}

.example-form-field{
    margin-left: 450px;
    margin-right: auto;
}
 .title{
     width: 400px;
 }

 .parkingValue{
    width: 115px;
 }
