<div class="container" *ngIf="!isSent">
    <mat-toolbar>{{'ResetForgottenPassword' | translate}}</mat-toolbar>
    <ul>
        <li>
            <h1>{{'Forgot your password?' | translate}}</h1>
        </li>
        <li class="description">
            {{'Type your email in the field below and we will ' | translate}}<br>
            {{'send you link to reset your password.' | translate}}
        </li>
        <form [formGroup]="sendTokenToEmailForm">
            <li>
                <mat-form-field>
                    <input matInput formControlName="email" [placeholder]="'EmailPlaceholder.value' | translate"
                        required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
                    <mat-error><small>{{'InvalidEmailFormat' | translate}}</small></mat-error>
                </mat-form-field>
            </li>
            <li>
                <button class="submit" mat-raised-button [disabled]="!sendTokenToEmailForm.valid || loading"
                    [class.spinner]="loading" (click)="sendEmail()">{{'Send' | translate}}</button>
            </li>
        </form>
    </ul>
</div>

<div class="success" *ngIf="isSent">
    <div><img src="assets/tick.png" class="success-image"></div>
    <div class="success-message">
        {{'Link for resetting password was sent' | translate}}<br>{{'to your email-box!' | translate}}</div>
    <div class="homepage-link"><a href="home" class="homepage-link">{{'GoToTheHomepage' | translate}}</a></div>
</div>