.success-image {
    width: 150px;
    height: auto;
}

.success {
    margin-top: 140px;
    text-align: center;
}

div.success-message {
    margin-top: 20px;
    font-size: medium;
    color: #24B05B;
}

div.homepage-link {
    margin-top: 20px;
}

a.homepage-link {
    color: #FF4081;
    text-decoration: none;
}