
<p>{{'Cancel Prepayment' | translate}}</p>
<form class="input-form">

  <mat-form-field class="example-full-width">
    <span matPrefix>+ &nbsp;</span>
    <input
      type="tel"
      #phoneInput
      required
      name="phoneInput"
      matInput
      [placeholder]="'PhoneNumberPlaceholder.value' | translate"
      maxlength="12"
      [(ngModel)]="pn.phoneNumber"/>
    <mat-hint align="end">{{phoneInput.value.length}} / 12</mat-hint>
  </mat-form-field>

  <div class="button-wrapper">
    <button mat-raised-button color="primary" (click)="submit()">{{ 'Send' | translate}}</button>
  </div>
</form>
