
.parkingTable{
  width: 80%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.filterData {
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.simpleHover:hover{
  background-color: #bddff5;
}

a{
  display: block;
  height: 100%;
}

mat-paginator {
  margin-right: 140px;
}