<mat-toolbar>
  <span class="fill-remaining-space">{{'Add parking' | translate}}</span>
</mat-toolbar>


<div class="container" *ngIf="!post; else forminfo" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="form-element">
      <input matInput [placeholder]="'addParkingNamePlaceholder.value' | translate" formControlName="parkingName">
      <mat-error *ngIf="!formGroup.controls['parkingName'].valid && formGroup.controls['parkingName'].touched">
        {{ getErrorParkingName() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input type="number" matInput [placeholder]="'addParkingSlotsNumberPlaceholder.value' | translate" formControlName="slotsNumber">
      <mat-error *ngIf="!formGroup.controls['slotsNumber'].valid && formGroup.controls['slotsNumber'].touched">
        {{ getErrorSlotsNumber() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input type="number" matInput [placeholder]="'addParkingTariffPlaceholder.value' | translate" formControlName="tariff">
      <mat-error *ngIf="!formGroup.controls['tariff'].valid && formGroup.controls['tariff'].touched">
        {{ getErrorTariff() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'City' | translate}}</mat-label>
      <mat-select [(value)]="selected" formControlName="city">
        <mat-option [value]="cityArray" *ngFor="let cityArray of CityArray">{{cityArray}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['tariff'].valid && formGroup.controls['tariff'].touched">
        {{ getErrorCity() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput [placeholder]="'addParkingStreetPlaceholder.value' | translate" formControlName="street">
      <mat-error *ngIf="!formGroup.controls['street'].valid && formGroup.controls['street'].touched">
        {{ getErrorStreet() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput [placeholder]="'addParkingBuildingPlaceholder.value' | translate" formControlName="building">
      <mat-error *ngIf="!formGroup.controls['building'].valid && formGroup.controls['building'].touched">
        {{ getErrorBuilding() }}
      </mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">{{'Add parking' | translate}}</button>
      <a mat-button color="primary" type="submit"
         class="button-row" [routerLink]='["/manager/cabinet"]'>{{'Go to Parking owner cabinet' | translate}}</a>
    </div>
  </form>
</div>

