
.container {
  text-align: center;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 130%;
}

.login {
  margin-top: 15px;
}
