<script src="login.component.ts"></script>
<div class="container">
    <ul>
        <li>
          <div class="header">{{'Sign in' | translate}}</div>
        </li>
        <form [formGroup]="loginForm">
          <li>
            <mat-form-field>
              <input matInput formControlName="username" [placeholder]="'EmailPlaceholder.value' | translate" required>
              <mat-error>{{'Required'| translate}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field>
              <input type="password" matInput formControlName="password" [placeholder]="'PasswordPlaceholder.value' | translate" required>
              <mat-error>{{'Required'| translate}}</mat-error>
            </mat-form-field>
          </li>
          <li>
            <div class="forgot-password-link"><small><a href="forgot-password" class="forgot-password-link">{{'Forgot your password?'|translate}}</a></small></div>
          </li>
        </form>
        <li>
          <mat-card-actions>
            <button class="login" mat-raised-button  (click)="login()" color="primary">{{'Sign in' | translate}}</button>
          </mat-card-actions>
        </li>
    </ul>
  </div>
<div class="container">
  <a class=" btn white black-text" href="api/login/google" style="text-transform:none">
      <div class="left">
          <img width="11px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              {{'Sign in with Google!' | translate}}
      </div>
  </a>
</div>



