.parking-container {
  text-align: center;
}

.parking-card {
  max-width: 400px;
}

.date-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date-container > * {
  width: 100%;
}

.date-container {
  text-align: center;
}

.test {
  text-align: center;
}
