<div class="date-container">
  <section>
    <h3>{{'Please, select preferred time' | translate}}</h3>
    <form [formGroup]="bookingTimeForm" (submit)="saveReactive()">
      <mat-label>
        {{'From:' | translate}}
        <input [min]="minFrom" [max]="maxFrom"
               [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
               [formControl]="rangeFrom" required>
        <owl-date-time [startAt]="minFrom" #dt1></owl-date-time>
        <br>
        <mat-error *ngIf="rangeFrom.invalid && (rangeFrom.dirty || rangeFrom.touched)">{{isErrorRangeFrom()}}</mat-error>
      </mat-label>
      <br>
      <br>
      <mat-label>
        {{'To:' | translate}}
        <input [min]="minTo" [max]="maxTo"
               [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
               [formControl]="rangeTo" required>
        <owl-date-time [startAt]="minTo" #dt2></owl-date-time>
        <br>
        <mat-error *ngIf="rangeTo.invalid && (rangeTo.dirty || rangeTo.touched)">{{isErrorRangeTo()}}</mat-error>
      </mat-label>
      <br>
      <br>
      <button type="submit" mat-raised-button color="primary">{{'Submit' | translate}}</button>
    </form>
  </section>
</div>
<br>
<br>
<div class="parking-container" fxLayoutAlign="center center">
  <div *ngIf="parking">
    <mat-card class="parking-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/sign.png">
        <mat-card-title>{{parking.name}}</mat-card-title>
        <mat-card-subtitle>{{parking.address}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/parking.jpg" alt="Photo of a Park Hub">
      <mat-card-content>
        <h3>{{'Please, select available slot. Price per hour:' | translate}} {{parking.tariff}}</h3>
        <mat-chip-list aria-label="Slot selection">
          <mat-chip *ngFor="let slot of parking.slots">
            <div *ngIf="slot.reserved || !slot.active">
              <mat-chip color="primary" disabled>{{slot.slotNumber}} </mat-chip>
            </div>
            <a [routerLink]="['/booking']" [queryParams]="{slot: slot.id, rangeFrom: rangeFrom.value.getTime(), rangeTo: rangeTo.value.getTime(), tariff: parking.tariff}">
              <div *ngIf="!slot.reserved && slot.active">
                <mat-chip color="primary" selected>{{slot.slotNumber}} </mat-chip>
              </div>
            </a>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


