.parking-card {
  max-width: 400px;
}

.parking-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.date-container {
  display: flex;
  flex-direction: column;
}

.date-container > * {
  width: 100%;
}

.date-container {
  text-align: center;
}
