<mat-toolbar>Ticket {{ticket.id}} Details</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div><label><b>{{'Ticket ID' |translate}}: </b></label>{{ticket.id}}</div>
        <div><label><b>{{'Ticket Type' | translate}}: </b></label>{{ticket.supportTicketType}}</div>
        <div><label><b>Target Manager ID:</b></label>{{ticket.targetManagerId}}</div>
        <div><label><b>Target Manager Name:</b></label>{{admin.firstName}}</div>
        <div><label><b>{{'Ticket Description' | translate}}: </b></label>{{ticket.description}}</div>
        <br>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="backToAdminPage()">{{'Back to Admin Page'| translate}}</button>
            <button mat-raised-button color="primary" (click)="updateUserRole()" style="margin-left: 10px">Set As Manager</button>
        </div>
    </mat-card-content>
</mat-card>