.container {
    margin-top: 100px;
    text-align: center;
}

li {
    list-style-type: none;
}

.success-image {
    width: 150px;
    height: auto;
}

.success {
    margin-top: 140px;
    text-align: center;
}

div.success-message {
    margin-top: 20px;
    font-size: medium;
    color: #24B05B;
}

div.homepage-link {
    margin-top: 20px;
}

a.homepage-link {
    color: #FF4081;
    text-decoration: none;
}

h1 {
    font-size: larger;
}

form {
    margin-top: 15px;
}

button.submit {
    margin-top: 10px;
}

button.submit {
    color: white;
    background-color: #FF4081;
}

li.description {
    margin-top: 30px;
}