<mat-card>
<h2>{{'AdminCabinet' | translate}}</h2>
<h3>{{'GetUserById' | translate}}</h3>
<mat-card-content>
<div>
    <mat-form-field>
        <input matInput type="number" min="1" [formControl]="idGetter" [placeholder]="'TypeUserIDPlaceholder.value' | translate">
    </mat-form-field>
    <p>
    <button mat-raised-button color="primary" (click)="idGetterMethod()">{{'GetUserById' | translate}}</button>
    </p>
    <mat-card-content>
    <div>{{'ID' | translate}}: {{admin.id}}</div>
    <div>{{'Name' | translate}}: {{admin.firstName}}</div>
    <div>{{'Role' | translate}}: {{admin.userRole}}</div>
    </mat-card-content>
</div>
<mat-divider></mat-divider>
</mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <h3>{{'UpdateRoleForm' | translate}}</h3>
        <div>
        <mat-form-field>
            <input matInput type="text" [formControl]="roleControl" [placeholder]="'TypeUserRolePlaceholder.value' | translate">
        </mat-form-field>

    <p>
        <button mat-raised-button color="primary" (click)="updateRoleName()">{{'UpdateRole' | translate}}</button>
    </p>
</div>
    </mat-card-content>
</mat-card>
