.container {
    text-align: center;
}

button.submit {
    color: white;
    background-color: #FF4081;
}

.label {
    margin-top: 2%;
    font-size: 118%;
}

li.comment-block {
    margin-top: 2%;
}


li.name-block {
    margin-top: 2%;
}

li.checkbox {
    margin-top: 1%;
}

li.buttons-block {
    margin-top: 3%;
}

.comment {
    width: 24%;
}

.success {
    margin-top: 10%;
    text-align: center;
}

div.success-message {
    margin-top: 2%;
    font-size: medium;
    color: #24B05B;
}

div.homepage-link {
    margin-top: 1%;
}

a.homepage-link {
    color: #FF4081;
    text-decoration: none;
}

.success-image {
    width: 10%;
    height: auto;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}