.container {
    margin-top: 100px;
    text-align: center;
}

li {
    list-style-type: none;
}

.error-image {
    width: 150px;
    height: auto;
}

.error {
    margin-top: 140px;
    text-align: center;
}

div.error-message {
    margin-top: 20px;
    font-size: medium;
    color: #C23A21;
}

div.forgot-password-link {
    margin-top: 20px;
}

a.forgot-password-link {
    color: #536DFE;
    text-decoration: none;
}

h1 {
    font-size: larger;
}

form {
    margin-top: 15px;
}

button.submit {
    margin-top: 10px;
}

button.submit {
    color: white;
    background-color: #FF4081;
}

li.description {
    margin-top: 30px;
}