<div *ngIf="view === 1">
    <mat-toolbar>{{'ResetForgottenPassword' | translate}}</mat-toolbar>
    <ul class="container">
        <li class="description">
            {{'Note, that password must contain at least one number, one uppercase' | translate}}<br>
            {{'and one lowercase letter, and at least 6 characters' | translate}}
        </li>
        <form [formGroup]="resetPasswordForm">
            <li>
                <mat-form-field>
                    <input matInput formControlName="password" type="password"
                        [placeholder]="'NewPasswordPlaceholder.value' | translate" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" maxlength="60">
                    <mat-error><small>{{'Password must match requirements' | translate}}</small></mat-error>
                </mat-form-field>
            </li>
            <li class="confirm-password">
                <mat-form-field>
                    <input matInput formControlName="confirmPassword" type="password"
                        [placeholder]="'ConfirmPasswordPlaceholder.value' | translate" required maxlength="60">
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword').errors &&
                resetPasswordForm.get('confirmPassword').errors.ConfirmPassword">
                        <small>{{'PasswordsMustMatch' | translate}}</small>
                    </mat-error>
                </mat-form-field>
            </li>
            <li>
                <button class="submit" mat-raised-button [disabled]="!resetPasswordForm.valid || loading"
                    [class.spinner]="loading" (click)="resetPassword()">{{'Submit' | translate}}</button>
            </li>
        </form>
    </ul>
</div>


<div class="error" *ngIf="view === 2">
    <div><img src="assets/cross.png" class="error-image"></div>
    <div class="error-message">{{message}}</div>
    <div class="resend-button" *ngIf="!isError">
        <button class="submit" mat-raised-button [disabled]="loading" [class.spinner]="loading"
            (click)="resendToken()">{{'Resend link' | translate}}</button>
    </div>
</div>

<div class="success" *ngIf="view === 3">
    <div><img src="assets/tick.png" class="success-image"></div>
    <div class="success-message">
        {{'Link for resetting password was sent' | translate}}<br>{{'to your email-box!' | translate}}</div>
    <div class="homepage-link"><a href="home" class="homepage-link">{{'GoToTheHomepage' | translate}}</a></div>
</div>