.input-form {
    text-align: center;
    margin: 20px;
  }

  .button-wrapper {
    width: 100%;
    margin: 20px 0;
  }
  .invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}
.example-form{
  width: 0;
  text-align: center;

}
div.form
{
    display: block;
    text-align: center;
}
.form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
