<h1 mat-dialog-title>Proceed payment</h1>
<div mat-dialog-content>
  Parking price: {{data.payment.price}}
  <br>
  Your slot number: {{data.payment.slotNumber}}
  <br>
  Check-in: {{data.payment.booking.checkIn}}
  <br>
  Check-out: {{data.payment.booking.checkOut}}
  <br>
  <FORM METHOD="POST" ACTION="https://esqa.moneris.com/HPPDP/index.php">
    <INPUT TYPE="HIDDEN" NAME="ps_store_id" VALUE="M9DLAtore3">
    <INPUT TYPE="HIDDEN" NAME="hpp_key" VALUE="hpJDDTV9TCQL">
    <INPUT TYPE="HIDDEN" NAME="charge_total" VALUE="{data.payment.price}">
    <!--MORE OPTIONAL VARIABLES CAN BE DEFINED HERE -->
    <INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="Click to proceed to Secure Page">
  </FORM>
</div>


