<h1 mat-dialog-title>Proceed payment</h1>
<div mat-dialog-content>
  {{'Parking price' | translate}}: {{data.payment.price}} UAH
  <br>
  {{'Your slot number' | translate}}: {{data.payment.booking.slot}}
  <br>
  {{'Check-in' | translate}}: {{data.payment.booking.checkIn}}
  <br>
  {{'Check-out' | translate}}: {{data.payment.booking.checkOut}}
  <br>
  <FORM METHOD="POST" ACTION="https://esqa.moneris.com/HPPDP/index.php">
    <INPUT TYPE="HIDDEN" NAME="ps_store_id" VALUE="M9DLAtore3">
    <INPUT TYPE="HIDDEN" NAME="hpp_key" VALUE="hpJDDTV9TCQL">
    <INPUT TYPE="HIDDEN" NAME="charge_total" ngDefaultControl [(ngModel)]="floatPrice">
    <INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="Proceed">
  </FORM>
</div>


